# Python
apps/server/.venv/
apps/server/venv
__pycache__/
*.py[cod]
.pytest_cache/

# Node
apps/client/.next/

# Environment
.env
.env.local
package-lock.json

# 1. .vscode 폴더 전체를 무시합니다.
.vscode/*

# 2. 하지만 아래 파일들은 예외로 관리합니다. (느낌표 ! 사용)
!.vscode/launch.json
!.vscode/settings.json

# 프롬프트 규칙 (anti-gravity)
.agent

# 맥 관련
.DS_Store

# 지식베이스 파일업로드 관련
apps/server/uploads
