apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  DB_PASSWORD: moduly-dev-pass-2026
  REDIS_PASSWORD: moduly-redis-pass-2026
  SANDBOX_API_KEY: moduly-sandbox-api-key-2026
